definitions:
  views.LoginForm:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  views.RefreshTokenForm:
    properties:
      refreshToken:
        type: string
    type: object
  views.RefreshTokenResponse:
    properties:
      accesstoken:
        type: string
      refreshtoken:
        type: string
    type: object
  views.ResourceResponse:
    properties:
      actions: {}
      resource:
        type: string
    type: object
  views.Response:
    properties:
      accesstoken:
        type: string
      failedattempts:
        type: integer
      message:
        type: string
      refreshtoken:
        type: string
      success:
        type: boolean
      user:
        $ref: '#/definitions/views.User'
    type: object
  views.User:
    properties:
      email:
        type: string
      fkcompany:
        type: integer
      fkcustomer:
        type: integer
      fkrole:
        type: integer
      id:
        type: integer
      lastlogin:
        type: string
      lastname:
        type: string
      name:
        type: string
      role:
        type: string
    type: object
info:
  contact: {}
paths:
  /users/login/:
    post:
      consumes:
      - application/json
      description: Autentica a un usuario y devuelve un token de acceso y un token
        de refresco.
      parameters:
      - description: Credenciales del usuario
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/views.LoginForm'
      produces:
      - application/json
      responses:
        "200":
          description: Respuesta exitosa con tokens y detalles del usuario
          schema:
            $ref: '#/definitions/views.Response'
        "400":
          description: 'Error: Datos inválidos o problema con el formato del email'
        "401":
          description: 'Error: Credenciales incorrectas o intento de inicio de sesión
            fallido'
        "500":
          description: Error interno del servidor
      summary: Iniciar sesión
      tags:
      - autenticación
  /users/refresh:
    post:
      consumes:
      - application/json
      description: Refresca un token de acceso utilizando un token de refresco válido
      parameters:
      - description: Token de refresco
        in: body
        name: refreshToken
        required: true
        schema:
          $ref: '#/definitions/views.RefreshTokenForm'
      produces:
      - application/json
      responses:
        "200":
          description: Respuesta exitosa con un nuevo token de acceso
          schema:
            $ref: '#/definitions/views.RefreshTokenResponse'
        "400":
          description: 'Error: Datos inválidos'
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: 'Error: Token inválido o expirado'
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Error interno del servidor
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Refrescar el token de acceso
  /users/resources:
    get:
      consumes:
      - application/json
      description: Retrieve resources associated with a specific role ID
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved resources
          schema:
            $ref: '#/definitions/views.ResourceResponse'
        "500":
          description: Error fetching resources
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get resources by role ID
      tags:
      - resources
swagger: "2.0"
